.building-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  
  .building {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-column-gap: 1px;
    grid-row-gap: 1px;
    margin-right: 0.9rem;
    background-color: rgb(215, 215, 215);
    margin-bottom: 1.9rem;
    border-radius: 4rem;
    width: 29rem;
  }
  
  .floor {
    display: contents;
  }

  .floor-labels {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    margin-right: 1rem;
  }
  
  .floor-label {
    height: 53px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 1px;
    font-weight: bold;
  }

  .elevator {
    width: 100%;
    height: 53px;
    background-color: rgb(246, 245, 245);
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: span 1;
    grid-column: span 1;
  }

  .call-buttons {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-top:0.9rem;
  }
  
  .call-button {
    background-color: rgb(38, 201, 106);
    color: white;
    border: none;
    border-radius: 0.2rem;
    padding: 0.38rem 1.67rem;
    cursor: pointer;
    margin-bottom: 1.6rem;
  }

  .call-button.waiting {
    background-color: red;
    color: white;
    padding: 0.38rem 1.1rem;
    border-radius: 0.2rem;
    cursor: pointer;
  }


  .call-button.arrived {
    background-color: white;
    padding: 0.38rem 1.1rem;
    color: rgb(38, 201, 106);
    border: 2px solid green;
  }

  styles.css
.arrived {
  background-color: white;
  color: green;
  border: 2px solid green;
}

.elevator-icon {
  width: 30px;
  height: auto;
}

.elevator-icon svg {
  width: 100%;
  height: 100%;
}

.elevator-icon svg path {
  stroke: #000; /* Default color */
}

.elevator-icon.occupied svg path {
  stroke: red;
}

.elevator-icon.arrived svg path {
  stroke: green;
}

.elevator-slot {
  position: relative;
}

.elapsed-time {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  font-size: 14px;
  font-weight: bold;
}

.elapsed-time {
  position: absolute;
  font-size: 11.5px;
  padding-top:0.5rem;
  top: 2.5em;
  left: 50%;
  transform: translateX(-50%);
}



